extends ./layout.jade

block vars
  - var title = 'Search Results'

block content
  h1 Search Results

  if catalog[0] != undefined
    p.
      Displaying matches...
    table(border='1')
      thead
        tr
          th Name
          th Location
          th Room Number
          th Description
          th Datasheet
          th Item Number
          th Status
          th Last Status Update
        //-tr
          //-for val, key in catalog[0]
            //-th #{key}
      tbody
        for entry in catalog
          tr
            for field in entry
              td= field
  else
    p.
      No matches found. 

  //-p !{packet}
  //-p !{packet.result}
  //-p ---
    //-each json in packet
      //-p Entry #{json}
      //-each val, key in json
        //-p #{key}: #{val}